.intern_body{
<<<<<<< HEAD
    height: 100vh;
=======
    /* height: 100vh; */
>>>>>>> 75b8358 (first commit)
    width: auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}