.GlassContainer {
  margin: 0 auto;
  width: 90%;
  height: fit-content;
  padding: 2em;
  background: linear-gradient(
    124.29deg,
    #282A27B2 54.99%,
    rgba(39, 41, 38, 0.18) 89.22%
  );
  border-radius: 1.25rem;
}
@media (max-width:800px){
  .GlassContainer{
    padding: 1.5em;
  }
}
