.heading_name{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5em;
    color: white;
}
.heading_decor{
    height: 0.25em;
    width: 3em;
    background-color: #ff8800;
    border-radius: 0.2em;
    transform: translateX(1.5em);
}
@media (max-width:800px) {
    .heading_name{
        font-size: 1.2em;
    }
}