.EventCarousel_mainContainer {
  position: relative;
  width: 100vw;
  height: calc(100vh - 60px);
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Event_Heading {
  margin-bottom: 3em;
  font-size: 1.25rem;
  font-weight: normal;
  text-align: center;
}

.EventCarousel_container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.CardCarousel_container {
  position: relative;
  width: 90%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

.EventCarousel_card {
  position: absolute;
  background-color: rgb(255, 255, 255);
  width: 40%;
  aspect-ratio: 5/3;
  border-radius: 0.75em;
  transition: all 500ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
}

.EventCarousel_card.active {
  position: relative;
  transform: scale(1);
  z-index: 1;
}

.EventCarousel_card.prevImg1 {
  transform: translateX(-50%) scale(0.6);
}

.EventCarousel_card.prevImg2 {
  transform: translateX(50%) scale(0.6);
}

.EventCarousel_card.nextImg1 {
  transform: translateX(50%) scale(0.6);
}

.EventCarousel_card.nextImg2 {
  transform: translateX(-50%) scale(0.6);
}

.carousel_control_button {
  background-color: transparent;
  border: none;
  z-index: 2;
}
.carousel_control_button:first-child {
  transform: rotate(-90deg);
}
.carousel_control_button:last-child {
  transform: rotate(90deg);
}

.EventCarousel_SlideButton {
  position: relative;
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}
.EventCarousel_SlideButton > .SlideBtn {
  width: 10px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 2px solid #ffa401;
  background-color: transparent;
  cursor: pointer;
}
.EventCarousel_SlideButton > .SlideBtn.active {
  background-color: #ffa401;
}

.Events_ReadMore {
  position: absolute;
  left: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Events_ReadMore > a > img {
  background-color: transparent;
  border: none;
  z-index: 2;
  transform: rotate(180deg);
}

@media (max-width: 746px) {
  .Event_Heading {
    font-size: 1rem;
  }
  .EventCarousel_card {
    position: absolute;
    width: 90% !important;
    transform: translateX(0%) scale(1) !important;
  }
}
