.ButtonAnimated {
    margin-top: 0.8em;
    padding: 0.3em;
    width: 10em;
    background-color: #ff8800;
    border-radius: 8px;
    text-align: center;
    color: black;
    text-decoration: none;
}

.ButtonAnimated>span {
    position: relative;
    transition: 0.5s;
    display: inline-block;
}

.ButtonAnimated>span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: all 0.5s ease;
}

.ButtonAnimated:hover span {
    padding-right: 0.8em;
}

.ButtonAnimated:hover span:after {
    opacity: 1;
    right: 0;
}

.ButtonAnimated:hover {
    color: black;
}
