.UpdateContainer{
    padding-top: 2em;
    width: 90vw;
    margin: auto;
}
.Update_card{
    margin-top: 1em;
    display: flex;
    padding: 1.5em;
    background-color: black;
    border-radius: 1em;
}
.Update_card_content{
    display: flex;
    flex-direction: column;
    padding-left: 2em;
}