.WhoWeAre_body {
    height: auto;
    max-width: 90vw;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    margin: auto;
}

.WhoWeAre_box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80vw;
    padding: 30px;
    background: linear-gradient(124.29deg, #181818 54.43%, rgba(39, 41, 38, 0.26) 88.66%);
    border-radius: 20px;
    z-index: 10;
    margin: 3em 0;
}

.heading_WhoWeAre {
    font-size: 0.9em;
    margin-bottom: 0.4em;
}

.content_WhoWeAre {
    font-weight: 300;
}

.WhoWeAre_img_box {
    background-image: url("../../../Assets/WhoWeAre.jpg");
    height: 70vh;
    width: 100vw;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.meetus {
    margin-top: 0.8em;
    font-size: small;
}

@media (max-width:800px) {
    .WhoWeAre_body {
        height: auto;
        max-width: 90vw;
        justify-content: flex-end;
        flex-direction: column;
        transform: translateY(0);
    }

    .WhoWeAre_img_box {
        margin-top: 5em;
        max-width: 90vw;
        height: 30vh;
        border-radius: 1em;
    }

    .WhoWeAre_box {
        margin-top: 1em;
        position: static;
        width: auto;
        align-items: center;
        padding: 20px;
    }

    .heading_WhoWeAre {
        font-size: 1.2em;
        margin-bottom: 0.3em;
    }

    .content_WhoWeAre {
        font-size: 1em;
        font-weight: 300;
        text-align: justify;
    }

    .meetus {
        text-align: center;
    }
}