@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Comman Styles */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
.App {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
/* Reletive Font size with screen width */
body {
  font-size: 16px;
  background-color: black;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.App{
  background-color: black;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 456px) {
  body {
    font-size: 12px;
  }
}
