@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;300&display=swap');

/* Comman Styles */
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  font-family: 'Lato', sans-serif;
}
.App {
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}
/* Reletive Font size with screen width */
body {
  font-size: 16px;
  background-color: black;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 456px) {
  body {
    font-size: 12px;
  }
}
