.CardsBSContainer{
    padding-top: 4em;
    width: 90vw;
    margin: auto;
}
.CardsBS_card_container{
    padding: 1em;
}
.CardsBS_card{
    margin-top: 1em;
    display: flex;
    padding: 1.5em;
    background-color: black;
    border-radius: 1em;
}
.CardsBS_image_Container{
    background: linear-gradient(124.29deg,
            #282A27B2 54.99%,
            rgba(39, 41, 38, 0.18) 89.22%);
    border-radius: 0.75em;
    height: 12em;
    aspect-ratio: 1;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.CardsBS_card_img{
    position: absolute;
    height: 12em;
    aspect-ratio: 1;
    width: auto;
    border-radius: 0.75em;
}
.CardsBS_card_content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 2em;
}
.CardsBS_content_text > .CardsBS_heading{
    font-size: 1.5em;
}
.CardsBS_content_text > .CardsBS_descp{
    font-weight: 300;
}
.CardsBS_heading {
    font-size: 36px;
}


@media (max-width: 800px) {
    .CardsBSContainer{
        width: 100vw;
    }
    .CardsBS_card_container{
        padding: 0em;
    }
    .CardsBS_card{
        margin: auto;
        margin-top: 1em;
        padding: 1em;
        flex-direction: column;
    }
    .CardsBS_image_Container{
        background: linear-gradient(124.29deg,
                #282A27B2 54.99%,
                rgba(39, 41, 38, 0.18) 89.22%);
        border-radius: 0.75em;
        height: 15em;
    }
    .CardsBS_card_img{
        margin: auto;
        height: 15em;
    }
    .CardsBS_card_content{
        padding-left: 0em;
        padding-top: 1em;
    }
    .CardsBS_content_text > .CardsBS_heading{
        font-size: 1.15em;
    }
    .CardsBS_content_text > .CardsBS_descp{
        display:none;
    }
}